div#first {
    background-color: olive;
    display: inline-block;
    width: 500px;
}
div#second {
    background-color: rgb(223, 223, 122);
    display: inline-block;
    width: 600px;
}
div#third {
    background-color: rgb(241, 241, 189);
    display: inline-block;
    width: 700px;
}